<style>
    h1 {
        font-family: Metropolis-Regular;
        font-size: 4em;
    }

    div.month {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    div.month .header {
        background-color: rgb(41, 41, 41);
        padding: 20px;
    }

    div.month .header h2 {
        font-size: 1.5em;
        color: rgb(255, 255, 255);
        margin: 0px;
    }

    img.thumb {
        object-fit: cover;
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
        transition: filter 0.25s;
    }

    img.thumb:hover {
        filter: brightness(0.7) contrast(1.2);
    }
</style>
<div class="template">
    <div :class="{mobile}">
        <page-header></page-header>
        <div class="month" v-for="group of displayGroups">
            <div class="header">
                <h2>{{group.key}}</h2>
            </div>
            <img :style="calcStyle(group.items, index)" class="thumb"
                v-for="(img, index) of group.items" :src="img.thumb"
                @click="handleLightbox(img)" :myAttr="index" :myCount="group.items.length"/>
        </div>

        <img v-for="image of images" :src="image.thumb" @load="loaded" style="display: none;" />

        <!-- 
        <post v-for="post of posts" :post="post" :key="post.slug" @became-active="activeChanged"
            @lightbox="handleLightbox">
        </post>-->
        <page-footer></page-footer>
        <lightbox v-if="lightbox.shown" :images="lightboxImages" :index="lightbox.index" @closed="closeLightbox"
            @prev="handleLightboxPrev" @next="handleLightboxNext">
        </lightbox>
    </div>
</div>
<script>
    Vue.component('gallery', {
        template: loadTemplate(),
        created: function () {
            window.addEventListener("resize", this.detectMobile);
            this.detectMobile();
            const requestConfig = {
                method: 'GET',
                headers: new Headers({ 'pragma': 'no-cache', 'cache-control': 'no-cache' }),
            };
            fetch("http://localhost:3456/images", requestConfig).then(response => response.json()).then(imagesResponse => {
                this.images = imagesResponse
                    .map(url => ({ full: url.replace("thumbs/", "full/"), thumb: url }));
            });
        },
        computed: {
            displayGroups: vm => vm.displayImages
                .groupBy(x => `${x.date.getFullYear()}${x.date.getMonth().toString().padStart(2, '0')}`)
                .map(x => ({...x, items: x.items.orderBy(x => x.date)}))
                .orderByDesc(x => x.key)
                .reduce((groups, nextGroup) => {
                    let lastGroup = groups.last;
                    if (groups.length > 0 && lastGroup.items.length < 3) {
                        lastGroup.items.unshift(...nextGroup.items);
                        let startDate = lastGroup.items.first.date;
                        let endDate = lastGroup.items.last.date;
                        lastGroup.key = `${startDate.toLocaleString("en-US", { month: "long", "year": "numeric" })} to ${endDate.toLocaleString("en-US", { month: "long", "year": "numeric" })}`;
                        return groups;
                    }
                    nextGroup.key = nextGroup.items.first.date.toLocaleString("en-US", { month: "long", "year": "numeric" });
                    return [...groups, nextGroup];
                }, []),
            lightboxImages: vm => vm.displayGroups.mapMany(x => x.items)
        },
        methods: {
            calcStyle: (items, index) => {
                const itemsRemaining = items.length - index;
                if (items.length < 6)
                    index += 3;

                if (items.length % 3 == 1 && itemsRemaining < 5)                    
                    return {width: "calc(970px / 4)", height: "calc(980px / 4)", marginRight: index % 4 == 2 ? 0 : undefined, marginLeft: index % 4 == 3 ? 0 : undefined};
                else if (items.length % 3 == 2 && itemsRemaining < 6)
                    return {width: "calc(960px / 5)", height: "calc(980px / 5)", marginRight: index % 5 == 2 ? 0 : undefined, marginLeft: index % 5 == 3 ? 0 : undefined};

                return {width: "calc(980px / 3)", height: "calc(980px / 3)", marginRight: index % 3 == 2 ? 0 : undefined, marginLeft: index % 3 == 0 ? 0 : undefined};
            },
            loaded: async function (sender) {
                var el = sender.target;
                var image = this.images.filter(x => x.thumb == el.src)[0];
                let date = new Date();
                try {
                    date = await getImageDate(el);
                } catch { /*screw you*/ }

                this.processedImages.push({ ...image, date });
                if (this.processedImages.length == this.images.length) {
                    this.images.length = 0;
                    this.displayImages = this.processedImages;
                }
            },
            detectMobile: function () {
                this.mobile = (window.innerWidth / window.devicePixelRatio) < 700;
            },
            handleLightbox: function (image) {
                this.lightbox.index = this.lightboxImages.indexOf(image);
                this.lightbox.shown = true;
                updateGalleryLightboxSlug(this.lightbox.index);
            },
            handleLightboxPrev: function () {
                this.lightbox.index = this.lightbox.index - 1;
                updateGalleryLightboxSlug(this.lightbox.index);
            },
            handleLightboxNext: function () {
                this.lightbox.index = this.lightbox.index + 1;
                updateGalleryLightboxSlug(this.lightbox.index);
            },
            closeLightbox: function () {
                clearSlug();
                this.lightbox.shown = false;
            }
        },
        data: () => ({
            images: [],
            processedImages: [],
            displayImages: [],
            lightbox: {
                shown: false,
                index: 0
            },
            activePost: null,
            mobile: false
        })
    });
</script>