<style>
  .post-text {
    background: #292929;
    height: 500px;
    color: #fff;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: solid 10px #292929;
    border-top: solid 10px #292929;
    scrollbar-color: #888 #292929;
    scrollbar-width: thin;
  }

  .post-text h1,
  .post-text h2,
  .post-text h3,
  .post-text h4,
  .post-text h5,
  .post-text h6 {
    letter-spacing: 0.07rem;
  }

  .post-text h1 strong,
  .post-text h3 strong,
  .post-text h4 strong,
  .post-text h5 strong,
  .post-text h6 strong {
    font-family: Metropolis-Regular;
  }

  .post-text .title {
    margin-left: 10px;
    border-bottom: solid 2px #222;
    margin-bottom: 10px;
  }

  .post-text .title h2 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    line-height: 125%;
  }

  .post-text .title .post-date {
    font-size: 0.8em;
    font-style: italic;
    color: #aaa;
  }

  .post-text .post-text-body {
    margin: 10px;
  }

  .post-text .post-text-body blockquote {
    margin-inline-start: 1em;
    margin-inline-end: 0px;
  }

  blockquote blockquote,
  blockquote blockquote p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    line-height: 175%;
  }

  .post-text .post-text-body > blockquote > blockquote {
    margin-top: -0.75em !important;
  }

  .post-text-body {
    line-height: 140%;
    user-select: text;
  }

  .post-text-body a {
    color: inherit;
  }

  .post-text-body hr {    
    border-bottom: none;
    border-color: #AAA;
  }
  
  .post-text-body p {
    color: #ccc;
    font-family: "Crimson Text";
    font-size: 1.05em;
    margin-bottom: 1.1em;
  }

  .post-text::-webkit-scrollbar {
    width: 10px;
  }

  .post-text::-webkit-scrollbar-track {
    background: #292929;
  }

  .post-text::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  .post-text::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>
<div class="template">
  <div class="post-text">
    <div class="title">
      <span class="post-date">{{ post.date }}</span>
      <h2>{{ post.title }}</h2>
    </div>
    <div class="post-text-body"></div>
  </div>
</div>
<script>
  const fileExtensions = {
    markdown: "md",
    html: "html",
  };
  const renderers = {
    markdown: (content) =>
      insertMusic(renderHtml(mdRenderer.makeHtml(content))).body,
    html: (content) => renderHtml(content).body,
  };

  Vue.component("post-text", {
    template: loadTemplate(),
    props: ["post", "format"],
    mounted: async function () {
      const response = await fetch(
        `${fileExtensions[this.format]}/${this.post.slug}.${
          fileExtensions[this.format]
        }`
      );
      this.content = await response.text();
    },
    watch: {
      content: function () {
        const body = renderers[this.format](this.content);
        const textBody = this.$el.querySelector(".post-text-body");
        const newBody = textBody.cloneNode(false);
        textBody.parentNode.replaceChild(newBody, textBody);
        for (let child of body.childNodes) {
          newBody.appendChild(child);
          if (child.localName === "script") {
            eval(child.innerText);
          }
        }
      },
    },
    data: () => ({ content: "" }),
  });
</script>
